{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'ups/style/style.css' %}">
    {% block extra_scripts %} {% endblock extra_scripts %}
    <title>{% block title %}MiraiDebug{% endblock %}</title>
</head>

<body>
    {% block branding %}<img src="{% static 'base/img/logo.gif' %}" width="300px"/>{% endblock branding %}
    {% block nav-global %}
        {% include "base/nav_global.html" %}
    {% endblock nav-global %}
    {% block nav-local %}
    {% endblock nav-local %}
    {% block content %}{% endblock %}
</body>
</html>
