{#{% extends "base/blank.html" %}#}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'ups/style/style.css' %}">
    {% block extra_scripts %} {% endblock extra_scripts %}
    <title>{% block title %}MiraiDebug{% endblock %}</title>
</head>

<body>
    {% block branding %}<h1 id="site-name" >MiraiDebug</h1>{% endblock branding %}
    {% block sidebar %}
    <ul class="sidebar" id="sidebar-main">
        <li><a href="/">Home</a></li>
        <li><a href="/ups/pick_ticket_index">PickTickets</a></li>
        <li><a href="/ups/file_selection">UPS File Selection</a></li>
        <li><a href="/admin">Admin</a></li>
    </ul>
    {% endblock sidebar %}
    {% block content %}{% endblock %}
</body>
</html>
