.pkt-warning, .pkt-report-header {
    font-weight: bold;
}

.pkt-error-text, .pkt-error-text input {
    color: red;
}

td.pkt-error-text {
    border: 2px solid red;
}

.pkt-param-text, .pkt-error-text, .pkt-param-text input, .pkt-error-text input {
    font-weight: bold;
}

.pkt-info p {
    color:black;
}
li a {
    color:green;
}

a:visited{
	color:#156641
}

a:active,a:focus,a:hover{
	color:#1d915c
}

ul.parse-errors, ul.sidebar, ul.ph-items {
    list-style-type:none;
}

ul.tabbed-menu {
    padding: 0;
    width: 1000px;
}

ul.tabbed-menu li, ul.sidebar li {
    display: inline;
}

ul.tabbed-menu li {
    float: left;
    margin-right: 1%;
    background-color: lightgrey;
    color: black;
    padding: 10px 20px 0px;
    text-decoration: none;
    border-radius: 15px 15px 0 0;
    border-style: none;
}

ul.tabbed-menu li:hover {
    background-color:darkgrey;
}

ul.tabbed-menu li:focus{
    background-color:darkgrey;
}

#site-name {
    text-align: center;
    width: 1000px;
    font-size: 250%;
}

.sidebar li {
    margin-right: 3.5%;
}

.sidebar a {
    text-decoration: none;
}

.sidebar {
    font-size: 150%;
    border-bottom: 5px solid black;
    width: 1000px;
}

.pkt-report {
    clear: both;
    border: 1px solid darkgrey;
    width: 1000px;
    height: 300px;
    resize: both;
    overflow: auto;
}

a.pkt-action-btns {
    text-decoration: none;
}

.pick-ticket-edit-form {
    width: 1000px;
    height: 400px;
    resize: both;
    overflow: scroll;
}


tr.row1 td, tr.row1 input {
    background-color: lightgrey;
}

tr.row2 td, tr.row2 input {
    background-color: white;
}

ul.errorlist {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul.errorlist li {
    display: inline;
    color: red;
}

