{% extends "base/base.html" %}
{% load staticfiles %}
{% block content %}
     <div class="pkt-info">
        <p>
        <span class="pkt-report-header">PickTicket:</span><br/>
        id = {{ ups_pkt.id }}<br/>
        fileName = {{ ups_pkt.fileName }}<br/>
        DOC_DATE = {{ ups_pkt.DOC_DATE }}
        </p>
    </div>
    {% if error_message %}
        <p class="pkt-warning">{{ error_message }}</p>
    {% else %}
        <form action="{% url 'ups:pick_ticket_edit' ups_pkt.id %}" method="post">
            {% csrf_token %}
            {{ formset }}
        </form>
    {% endif %}
{% endblock content %}
