{% extends "base/base.html" %}
{% load staticfiles %}
{% block extra_scripts %}
    <script>
        var selectedTab="#tab1";
        $(document).ready(function(){
            $(selectedTab).focus();
            setActiveTab(selectedTab);
            $('div').filter(function() {return this.id.match(/tab+/)}).hide();
            $(selectedTab+"-content").show();
            $(".tabbed-menu li").filter(function() {return this.id.match(/tab+/)}).click(function() {
                if (selectedTab.localeCompare("#"+this.id) != 0) {
                    setInactiveTab(selectedTab);
                    $(selectedTab+"-content").hide();
                    selectedTab="#"+this.id;
                    setActiveTab(selectedTab);
                    $(selectedTab+"-content").show();
                }
            });
        });
        function setActiveTab(tabId) {
            $(tabId).css("background-color","darkgrey");
        }
        function setInactiveTab(tabId) {
            $(tabId).css("background-color","lightgrey");
        }
    </script>
{% endblock extra_scripts %}
{% block content %}
     <div class="pkt-info">
        <p>
        <span class="pkt-report-header">PickTicket:</span><br/>
        id = {{ ups_pkt.id }}<br/>
        fileName = {{ ups_pkt.fileName }}<br/>
        DOC_DATE = {{ ups_pkt.DOC_DATE }}
        </p>
    </div>
    {% if error_message %}
        <p class="pkt-warning">{{ error_message }}</p>
    {% endif %}
    {% if ups_pkt %}
        <ul class="tabbed-menu" id="tabbed-menu1">
            <li id="tab1">Errors</li>
            <li id="tab2">Report</li>
            <li id="tab3">Pkt Report</li>
            <li id="tab4">Pkt File</li>
        </ul>
        <br/>
        <div id="tab1-content" class="pkt-report">
            {% include "ups/pick_ticket_error_report.html" with ups_pkt=ups_pkt %}
        </div>
        <div id="tab2-content" class="pkt-report">
            {% include "ups/pick_ticket_report.html" with ups_pkt=ups_pkt %}
        </div>
        <div id="tab3-content" class="pkt-report">
            {% include "ups/pick_ticket_pkt_report.html" with ups_pkt=ups_pkt %}
        </div>
        <div id="tab4-content" class="pkt-report">
            {% include "ups/pick_ticket_file_report.html" with ups_pkt=ups_pkt %}
        </div>
        <br/>
        <div>
            <a class="pkt-action-btns" href="{% url 'ups:pick_ticket_edit' ups_pkt.id %}"><button type="button">Edit PickTicket</button></a> 
        </div>
    {% endif %}
{% endblock content %}
