{% extends "ups/ups_home.html" %}
{% load staticfiles %}
{% block extra_scripts %}
    <script>
        var selectedTab="#tab1";
        $(document).ready(function(){
            $(selectedTab).focus();
            setActiveTab(selectedTab);
            $('div').filter(function() {return this.id.match(/tab+/)}).hide();
            $(selectedTab+"-content").show();
            $(".tabbed-menu li").filter(function() {return this.id.match(/tab+/)}).click(function() {
                if (selectedTab.localeCompare("#"+this.id) != 0) {
                    setInactiveTab(selectedTab);
                    $(selectedTab+"-content").hide();
                    selectedTab="#"+this.id;
                    setActiveTab(selectedTab);
                    $(selectedTab+"-content").show();
                }
            });
            $("#printButton").click(function(){
                printElem(selectedTab+"-content");
            });
        });
        function setActiveTab(tabId) {
            $(tabId).css("background-color","darkgrey");
        }
        function setInactiveTab(tabId) {
            $(tabId).css("background-color","lightgrey");
        }
        function printElem(elem) {
            popup($(elem).html());
        }

        function popup(data) {
            var mywindow = window.open('', 'my div', 'height=300px,width=1000px');
            mywindow.document.write('<html><head>');
            mywindow.document.write('<link rel="stylesheet" href="{% static 'ups/style/style.css' %}" type="text/css" />');
            mywindow.document.write('</head><body >');
            mywindow.document.write(data);
            mywindow.document.write('</body></html>');
            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10
            mywindow.print();
            mywindow.close();
            return true;
        }

    </script>
{% endblock extra_scripts %}
{% block content %}
    <div class="breadcrumb">
        <a href= "{% url 'ups:pick_ticket_detail' ups_pkt.id %}">Report</a>
    </div>
     <div class="pkt-info">
        <p>
            <span class="pkt-report-header">PickTicket:</span><br/>
            FileName: {{ ups_pkt.fileName }}<br/>
            Date: {{ ups_pkt.DOC_DATE }}<br/></br>
        </p>
    </div>
    {% if error_message %}
        <p class="pkt-warning">{{ error_message }}</p>
    {% endif %}
    {% if ups_pkt %}
        <ul class="tabbed-menu" id="tabbed-menu1">
            <li id="tab1">Errors</li>
            <li id="tab2">Report</li>
            <li id="tab3">Pkt Report</li>
            <li id="tab4">Pkt File</li>
        </ul>
        <div class="pkt-report">
            <button class="pkt-action-btns" id="printButton">Print</button>
            <div id="tab1-content">
                {% include "ups/pick_ticket_error_report.html" with ups_pkt=ups_pkt %}
            </div>
            <div id="tab2-content">
                {% include "ups/pick_ticket_report.html" with ups_pkt=ups_pkt %}
            </div>
            <div id="tab3-content">
                {% include "ups/pick_ticket_pkt_report.html" with ups_pkt=ups_pkt %}
            </div>
            <div id="tab4-content">
                {% include "ups/pick_ticket_file_report.html" with ups_pkt=ups_pkt %}
            </div>
        </div>
        <div>
            <a class="pkt-action-btns" href="{% url 'ups:pick_ticket_edit' ups_pkt.id %}"><button type="button">Edit</button></a>
            <form action="{% url 'ups:pick_ticket_detail' ups_pkt.id %}" method="post"> 
                {% csrf_token %}
                <input type="submit" value="Delete" class="pkt-action-btns" name="Delete">
            </form>
        </div>
    {% endif %}
{% endblock content %}
