{% extends "shipstation/shipstation_home.html" %}
{% load staticfiles %}
{% block content %}
    {% if error_message %}
        <strong><p>{{ error_message }}</p></strong>
    {% else %}
        <p>SKU Report:<br/>
        {% if startDate %}
            startDate = {{ startDate }}<br/>    
        {% endif %}
        {% if stopDate %}
            stopDate = {{ stopDate }}<br/>    
        {% endif %}
        {% if skus %}
            <table>
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Order Quantity</th>
                        <th>Shipment Quantity</th>
                    </tr>
                </thead>
                {% for sku,quantity in skus.iteritems %}
                    <tr>
                        <td>{{ sku }}</td>
                        {% for data in quantity %}
                        <td>{{ data }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table> 
        {% endif %}
    {% endif %}
{% endblock content %}
